[Unit]
Description=The personal, minimalist, super fast, database-free, bookmarking service

[Container]
Image=localhost/shaarli_image
ContainerName=shaarli
Volume=shaarli:/var/www/shaarli/data:Z
PublishPort=8080:8080

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
