[Unit]
Description=Apache with PHP to run Wordpress

[Container]
Image=
ContainerName=wordpress-demo
Network=wordpress-demo
Volume=
PublishPort=8080:8080
#AutoUpdate=registry

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
